Repository inspr/inspr, pull requests merged in 2021-07, with the labels that each got.

#84 Story CORE-480 | difference.md
  CHANGELOG.md
  docs/difference.md
  docs/img/diff_app.png
  pkg/meta/utils/diff/diff.go
Labels: documentation

#85 Story CORE-464 | Multibroker documentation
  CHANGELOG.md
  docs/img/brokers.png
  docs/multibrokers.md
Labels: documentation

#86 Story CORE-485 | installation using minikube
  CHANGELOG.md
  build/uidp_helm/values.yaml
  docs/minikube.md
  examples/pingpong_demo/yamls/kafkaConfig.yaml
Labels: documentation

#87 Story CORE-478 | readme.md
  CHANGELOG.md
  docs/readme.md
Labels: documentation

#89 Story CORE-500 | `/etc/hosts` cluster ip definition
  CHANGELOG.md
  build/uidp_helm/values.yaml
  cmd/uid_provider/inprov/client/client.go
  docs/minikube.md
  go.mod
  pkg/auth/jwt/auth.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/cmd/utils/viper.go
  pkg/cmd/utils/viper_test.go
  pkg/controller/client/alias.go
  pkg/controller/client/auth.go
  pkg/controller/client/brokers.go
  pkg/controller/client/channel.go
  pkg/controller/client/dapp.go
  pkg/controller/client/type.go
  pkg/rest/request/request.go
  pkg/rest/request/request_test.go
  scripts/hooks/pre-commit
  scripts/readme.md
Labels: controller, documentation

#90 Bug CORE-499 | Unable to delete multi-layered dApps
  CHANGELOG.md
  cmd/insprd/memory/fake/dapp.go
  cmd/insprd/memory/tree/dapp.go
  cmd/insprd/memory/tree/dapp_test.go
  cmd/insprd/memory/tree/dapp_utils.go
  cmd/insprd/memory/tree/interface.go
  cmd/insprd/memory/tree/mock_app.go
  cmd/insprd/operators/nodes/converter.go
  cmd/insprd/operators/nodes/node_operator.go
  examples/pingpong_demo/README.md
  pkg/api/handlers/app_handler.go
Labels: documentation

#92 Tech CORE-456 | Review auto labeler
  .github/labeler.yml
  .github/workflows/go.yml
  .gitignore
  CHANGELOG.md
  codecov.yml
Labels: devops

#91 Bug CORE-498 | Unable to update channels
  .gitignore
  CHANGELOG.md
  build/helm/values.yaml
  build/uidp_helm/values.yaml
  cmd/insprctl/cli/apply_channel.go
  cmd/insprd/memory/brokers/brokers.go
  cmd/insprd/memory/brokers/brokers_test.go
  cmd/insprd/memory/tree/channel.go
  cmd/insprd/memory/tree/manager.go
  cmd/insprd/operators/channel.go
  cmd/insprd/operators/operator.go
  pkg/api/handlers/channel_handler.go
  pkg/api/handlers/handler.go
  pkg/api/handlers/reactions.go
  pkg/meta/utils/diff/diff.go
  pkg/meta/utils/diff/diff_test.go
  scripts/hooks/pre-commit
  skaffold.yaml
Labels: build, fix

#96 Tech CORE-372 | Protect user password on inprov login
  CHANGELOG.md
  cmd/uid_provider/inprov/cmd/login.go
  cmd/uid_provider/inprov/cmd/login_test.go
  cmd/uid_provider/inprov/main.go
  go.mod
  pkg/client/client_test.go
Labels: cli, tech pendency

#95 Tech CORE-491 | improve UIDP - add logger and description to cli
  CHANGELOG.md
  cmd/uid_provider/api/controller/base.go
  cmd/uid_provider/api/controller/routes.go
  cmd/uid_provider/api/handlers/handler.go
  cmd/uid_provider/inprov/cmd/create_user.go
  cmd/uid_provider/inprov/cmd/delete_usr.go
  cmd/uid_provider/inprov/cmd/login.go
  scripts/hooks/pre-commit
Labels: controller

#102 Updated script for chart releassing
  .github/workflows/release.yml
  CHANGELOG.md
  build/inspr-stack/subcharts/insprd/templates/NOTES.txt
  build/inspr-stack/subcharts/uidp/templates/NOTES.txt
  build/inspr-stack/subcharts/uidp/values.yaml
  build/inspr-stack/templates/NOTES.txt
  cmd/uid_provider/inprov/user_example.yaml
  scripts/update-charts.sh
  skaffold.yaml
Labels: build

#104 Tech CORE-545 | external-dns and removal of forced hostname in insprctl
  .gitignore
  CHANGELOG.md
  cmd/uid_provider/inprov/client/client.go
  docs/external-dns.md
  pkg/auth/jwt/auth.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/controller/client/alias.go
  pkg/controller/client/auth.go
  pkg/controller/client/brokers.go
  pkg/controller/client/channel.go
  pkg/controller/client/dapp.go
  pkg/controller/client/type.go
  pkg/rest/request/request.go
  pkg/rest/request/request_test.go
Labels: controller
