Repository inspr/inspr, pull requests merged in 2021-09, with the labels that each got.

#122 Story CORE-566 | Implement benchmarking dapp
  CHANGELOG.md
  Makefile
  examples/bench_mark/Makefile
  examples/bench_mark/README.md
  examples/bench_mark/receiver/receiver.Dockerfile
  examples/bench_mark/receiver/receiver.go
  examples/bench_mark/sender/sender.Dockerfile
  examples/bench_mark/sender/sender.go
  examples/bench_mark/yamls/bench.yaml
  examples/bench_mark/yamls/channels/ch1.yaml
  examples/bench_mark/yamls/ctypes/ct1.yaml
  examples/bench_mark/yamls/ctypes/schema.avsc
  examples/bench_mark/yamls/kafkaConfig.yaml
  examples/bench_mark/yamls/nodes/receiver.app.yaml
  examples/bench_mark/yamls/nodes/sender.app.yaml
Labels: documentation

#117 Story CORE-541 | Inspr stack workspace initialization
  CHANGELOG.md
  Makefile
  build/inspr-stack/Chart.lock
  build/inspr-stack/Chart.yaml
  build/inspr-stack/README.md
  build/insprd/.helmignore
  build/insprd/Chart.yaml
  build/insprd/README.md
  build/insprd/templates/NOTES.txt
  build/insprd/templates/_helpers.tpl
  build/insprd/templates/apps/namespace.yaml
  build/insprd/templates/auth/_helpers.tpl
  build/insprd/templates/auth/deployment.yaml
  build/insprd/templates/auth/secret.yml
  build/insprd/templates/auth/service.yaml
  build/insprd/templates/common/_helpers.tpl
  build/insprd/templates/insprd/_helpers.tpl
  build/insprd/templates/insprd/deployment.yaml
  build/insprd/templates/insprd/ingress.yaml
  build/insprd/templates/insprd/role.yaml
  build/insprd/templates/insprd/rolebinding.yaml
  build/insprd/templates/insprd/service.yaml
  build/insprd/templates/insprd/serviceaccount.yaml
  build/insprd/templates/secret-generator/job.yaml
  build/insprd/templates/secret-generator/role.yaml
  build/insprd/templates/secret-generator/rolebinding.yaml
  build/insprd/templates/secret-generator/serviceaccount.yaml
  build/insprd/templates/sidecar/_helpers.tpl
  build/insprd/templates/sidecar/configmap.yaml
  build/insprd/templates/tests/auth-connection.yaml
  build/insprd/templates/tests/insprd-connection.yaml
  build/insprd/values.yaml
  build/uidp/.helmignore
  build/uidp/Chart.lock
  build/uidp/Chart.yaml
  build/uidp/README.md
  build/uidp/templates/NOTES.txt
  build/uidp/templates/_helpers.tpl
  build/uidp/templates/secret-generator/job.yaml
  build/uidp/templates/tests/test-connection.yaml
  build/uidp/templates/uidp/_helpers.tpl
  build/uidp/templates/uidp/deployment.yaml
  build/uidp/templates/uidp/ingress.yaml
  build/uidp/templates/uidp/redis-secret.yaml
  build/uidp/templates/uidp/role.yaml
  build/uidp/templates/uidp/rolebinding.yaml
  build/uidp/templates/uidp/secret.yml
  build/uidp/templates/uidp/service.yaml
  build/uidp/templates/uidp/serviceaccount.yaml
  build/uidp/values.yaml
  docs/values_configuration.md
  scripts/update-charts.sh
  skaffold.yaml
Labels: build

#127 Story CORE-572 | Permission scheme inversion
  CHANGELOG.md
  cmd/insprd/operators/nodes/converter.go
  cmd/uidp/client/client.go
  cmd/uidp/client/client_test.go
  cmd/uidp/inprov/user_example.yaml
  examples/bench_mark/yamls/bench.yaml
  examples/bench_mark/yamls/channels/ch1.yaml
  examples/bench_mark/yamls/ctypes/ct1.yaml
  examples/bench_mark/yamls/nodes/receiver.app.yaml
  examples/bench_mark/yamls/nodes/sender.app.yaml
  examples/bench_mark/yamls/test.yaml
  examples/bench_mark/yamls/user_example.yaml
  pkg/api/handlers/token_handler.go
  pkg/auth/mocks/auth_mock.go
  pkg/auth/models.go
  pkg/auth/models_test.go
  pkg/controller/client/auth.go
  pkg/rest/middleware.go
  pkg/rest/request/client.go
  pkg/rest/request/client_test.go
Labels: controller

#137 Story CORE-579 | [BETA] Change lb-sidecars channel resolution to account for the '/channel' that will now be required
  CHANGELOG.md
  clients/python/inspr/__init__.py
  clients/python/inspr/client.py
  clients/python/inspr/controller/__init__.py
  clients/python/setup.py
  examples/python/pingpong/Makefile
  examples/python/pingpong/deployAll.sh
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/rest/request/request.go
  pkg/sidecars/lbsidecar/handlers.go
  pkg/sidecars/lbsidecar/handlers_test.go
  pkg/sidecars/lbsidecar/server.go
  pkg/sidecars/server/handlers.go
  pkg/sidecars/server/handlers_test.go
  pkg/sidecars/server/server.go
Labels: controller
